.sneakerCard {
  width: 250px;
  height: 300px;
  border: 1px solid #e7e7e7;
  padding: 15px;

  .sneakerCardTitle {
    max-width: 180px;
    margin-top: 35px;
    height: 2.4em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
  }

  .sneakerImageWrapper {
    display: block;

    .sneakerCardImage {
      max-width: 228px;
      max-height: 130px;
      margin-top: 15px;
    }
  }

  .sneakerCardPrice {
    display: flex;
    align-items: center;

    .sneakerCardSign {
      margin: 0 5px 0 15px;
    }

    .sneakerCardButton {
      width: 40px;
      height: 40px;
      background: url('../../../assets/svg/add_to_cart.svg') center / 100% no-repeat;
    }
  }
}
