@use '../../../../styles/mixins.scss';

.basketItem {
  display: flex;
  justify-content: space-between;
  height: 100px;

  .basketImgWrapper {
    max-width: 90px;
    max-height: 90px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }

  .basketCount {
    width: 21px;
    height: 20px;
  }

  .removeOne {
    @include mixins.backgrfix('../../../../assets/svg/minus.svg');
  }

  .addOne {
    @include mixins.backgrfix('../../../../assets/svg/plus.svg');
  }

  .removeFromBasket {
    width: 19px;
    height: 18px;
    transition: rotate 0.4;
    @include mixins.backgr('../../../../assets/svg/cross-gr.svg');
    &:hover {
      transform: rotate(90deg);
    }
  }

  .basketContWrapper {
    width: 200px;
    margin-left: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .basketContButtons {
    width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .basketItemTitle {
    height: 2.4em;
    text-decoration: none;
    color: #000;
    overflow: hidden;
  }

  .basketContAmount {
    text-align: center;
    width: 20px;
    overflow: hidden;
  }

  .basketContPrice {
    width: 60px;
    overflow: hidden;
  }
}
