.headerBasketContainer {
  width: 30px;
  height: 27px;
  position: relative;

  .headerBasket {
    width: 24px;
    height: 21px;
    margin-top: 4px;
    background: url('../../../assets/svg/shopping_cart.svg') center / 100% no-repeat;
  }

  .headerBasketCount {
    position: absolute;
    right: 16px;
    z-index: 1;
    background: #3366ff;
    min-width: 13px;
    height: 13px;
    border-radius: 13px;
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    padding: 2px;
  }
}
