@use '../../styles/variables';

.header {
  height: variables.$header-height;
  background-color: #fff;
  border-bottom: 1px solid #cfcfcf;
  position: fixed;
  width: 100%;

  .siteLogo {
    width: 89px;
    height: 32px;
  }

  .navbar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1640px;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
    height: 100%;
  }

  .headerItem {
    display: block;
    max-height: 32px;
  }
}
