.cartTotal {
  border-top: 1px solid #cfcfcf;
  padding: 40px 55px 40px 40px;

  .cartTotalItem {
    display: flex;
    justify-content: space-between;
    line-height: 34px;
  }

  .cartTotalPrice * {
    font-size: 18px;
  }
}
